# **Data validation and cleaning**

## 1. Know Your Data

### *Import required libraries*

In [1]:
import pandas as pd
import numpy as np

### *Loading Dataset*

In [2]:
data = pd.ExcelFile('retail.xlsx')
dfs = []
for sheet in data.sheet_names:
    df = pd.read_excel(data,sheet_name=sheet)
    dfs.append(df)
final_df = pd.concat(dfs,ignore_index=True)

In [3]:
final_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

### *Dataset Rows and Column Count*

In [4]:
print(f"Number of Rows:{final_df.shape[0]}")
print(f"Number of Columns:{final_df.shape[1]}")

Number of Rows:1067371
Number of Columns:8

### *DataSet Information*

In [5]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

### *Duplicate Values*

In [6]:
final_df.duplicated().sum()

np.int64(34335)

### *Missing Values*

In [7]:
# Function for finding perent missing values
def missing_val(data):
    missing_values = data.isna().sum()
    data_len = len(data)
    percent_missing_values = (missing_values/data_len)*100
    return(round(percent_missing_values,2))

In [8]:
final_df.apply(missing_val)

Invoice         0.00
StockCode       0.00
Description     0.41
Quantity        0.00
InvoiceDate     0.00
Price           0.00
Customer ID    22.77
Country         0.00
dtype: float64

## 2. Understanding the Variables

### *Variable Description*

In [9]:
final_df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,1.067371e+06,1067371,1.067371e+06,824364.000000
mean,9.938898e+00,2011-01-02 21:13:55.394028544,4.649388e+00,15324.638504
min,-8.099500e+04,2009-12-01 07:45:00,-5.359436e+04,12346.000000
25%,1.000000e+00,2010-07-09 09:46:00,1.250000e+00,13975.000000
50%,3.000000e+00,2010-12-07 15:28:00,2.100000e+00,15255.000000
75%,1.000000e+01,2011-07-22 10:23:00,4.150000e+00,16797.000000
max,8.099500e+04,2011-12-09 12:50:00,3.897000e+04,18287.000000
std,1.727058e+02,NaN,1.235531e+02,1697.464450

In [10]:
for col in final_df.columns:
    print(f"\n{col}:")
    print(df[col].unique())

Invoice:
[536365 536366 536368 ... 581585 581586 581587]

StockCode:
['85123A' 71053 '84406B' ... '90214U' '47591b' 23843]

Description:
['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'lost'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']

Quantity:
[     6      8      2      3     32      4     24     12     48     18
     20     36     80     64     10    120     96     23      5      1
     -1     50     40    100    192    432    144    288    -12    -24
     16      9    128     25     30     28      7     56     72    200
    600    480     -6     14     -2     11     33     13     -4     -5
     -7     -3     70    252     60    216    384    -10     27     15
     22     19     17     21     34     47    108     52  -9360    -38
     75    270     42    240     90    320   1824    204     69    -36
   -192   -144    160   2880   1400     39    -48    -50     26   1440
     31     82     78     97     98     35     57    -20    110    -22
    -30    -70   -130    -80   -120    -40    -25    -14    -15    -69
   -140   -320     -8    720    156    324     38     37     49     95
     -9    -11     29     41    -72    -35    -21    -43    -19    -18
    -44    402    378    150    300     54    104     67    258     66
     44     55     46     99     61    408    972    208   1008   1000
    -77   1488    250   1394    400   -223   -150    -13    -33   -723
   -177     79     84    -32   -100    -28    272   -145    -47    -96
    113     45    106     68    267    115     65   1728    -60    -16
     53   -240     76    460     71     43    213     58    576   2400
    500    180   -300   -500    -23    752    960   1296    210    172
    215    129    138    116    135    197   -106    -54    -17   -939
    147    168    256   -201    -53    -29  -2600   -990   -290    -45
    860   1010   1356   1284    186    114    360   1930   2000   3114
   1300    670    111    211     59   -310    -61    -41    176    648
     62  74215 -74215    -64    -84     89  -1400     73    -57    112
    456    -59    -31   5568   2560    136    900   -600    -42    -94
   -207    -52    130   -206   2592    420    800    101   1200    864
   -217     94  -1430   1287   -162   -230   -173   -390   -234    504
    123    118    -76   -200   1056   1500    280    407    141    124
    -99     51    -92   -741   3906   -400   -114    102   1152    -88
    198    117     86   -720    125    -86   -391    -87   -278    140
    228   -154  -3000     81   -675   -345   -210   -975  -1200  -1121
    -27   -541  -1277   -197   3000  -1100    -63  -5368    219   -259
    232    -82   -178    170   -110    768     88    700   -102   2160
   -323   -450   -232    -83   -153   -524  -2472    -49   -105    342
    304    167    -34    640    175    220     74     93    164    163
     63    637    122    158    165    350    -46    -75   -690    -39
    -66     83    312   -180    392   -624   -194    -26    -62    -37
    -91   -139   -158  -1479    -55   -576   -750    330    151    -93
   -432    -58  -1092   -670  -1300  -1930  -2000  -3114    462    -65
    -68    492   -620    273    -90   -170  -1512    -51     85    -56
   -160   -360    105   -960  -2376   1350    428  -1350    336   -786
   -590   -168   -101    -71    132   -413   -664    227   2700    222
    246    906    756    888    552    -97    224    738    608   -212
   4300    146    143    276   -125   -116   -108   4000   -304   -272
  -1206    -95   1600    323   -161   -472   -618   -204   1515  -1515
  -9058  -9600    660   -420   -126   -220   -271  -1440    264    188
    588    612    152   -324   -480   -164    -78   -118    430  -1681
     87    155    701    828    540    696    560   -250   -408   -179
    121   -124    512   -251  -3100   3100   -169    126    291   3186
  -2834   -109    109   -121   -530   -227    261   -346    352    142
    107   -188  -1060   -342   -288    348   1900    157   -343   -455
    425    968    684    824   -828   -701    196    248    410    236
    230   -156   -553    145    448    245   -252   -334   -318   -113
   -115    171   -242    840   -967   -203  -3167   -443  -1897    225
   -434    750   -682   -484    682    344   -635   -117  -3667    450
    310    494   -384     92   1788   -138    624    744    416    496
    396    306   1878   1944    666    708   1428    852   1412    528
   -756   -752   -152    -85   -312    -79   -147    -67   -131    183
   -209   -186   -231   -129   -458   -275  -2880   1540    672   -800
   -430   -380    -74   -840  -1296   -365   -104   -270    -73   -306
     91    255    468   -468   -111   -184   -103   -335   4800   -112
  -1000    912   1992    184    148  -1671   -657  -2618  -2003  -1158
   -674  -4830   -905  -1128    832    992    630   1020   2100    162
  -1560  -1284    -81    314    370    131    133    484    149    153
    257    139    137    628    179   1820    478    335    253    242
    375   -276   -256    281    193    181    404    244    207    199
   1130    326    654    688    268    249   -864    234  -1510   -550
   -244   -132   -327   -313    279   -280   -398    374   -504   -696
   -149   -428   -224    212   -267   -175  12540    760    -98    774
   -151   2040  -1131   -135   1120     77   -900    177    490    388
    620   1404   -155   -355   -337  -1050   -338    205   -235    698
  80995 -80995]

InvoiceDate:
<DatetimeArray>
['2010-12-01 08:26:00', '2010-12-01 08:28:00', '2010-12-01 08:34:00',
 '2010-12-01 08:35:00', '2010-12-01 08:45:00', '2010-12-01 09:00:00',
 '2010-12-01 09:01:00', '2010-12-01 09:02:00', '2010-12-01 09:09:00',
 '2010-12-01 09:32:00',
 ...
 '2011-12-09 12:09:00', '2011-12-09 12:16:00', '2011-12-09 12:19:00',
 '2011-12-09 12:20:00', '2011-12-09 12:21:00', '2011-12-09 12:23:00',
 '2011-12-09 12:25:00', '2011-12-09 12:31:00', '2011-12-09 12:49:00',
 '2011-12-09 12:50:00']
Length: 23260, dtype: datetime64[ns]

Price:
[   2.55    3.39    2.75 ...  933.17 1714.17  224.69]

Customer ID:
[17850. 13047. 12583. ... 13298. 14569. 12713.]

Country:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

### *About dataset*

- The dataset contains 8 Columns namely **Invoice**,**StockCode**,**Description**,**Qunatity**,**InvoiceDate**,**Price**,**CustomerID**,and **Country**.
- This a large data set with **1067371 Rows**.
- There are **34335** duplicate rows in dataset.
- There are **0.41%** missing values in **Description** Column and **22.77%** missing values in **CustomerID** Column
- There are Negative entries in Quantity column and Price column

# 3. Data Wrangling

In [11]:
# Remove Duplicated values
final_df = final_df.drop_duplicates()

In [12]:
# Flag bad debt
final_df['is bad debt'] = (final_df['Description'].str.contains("Adjust bad debt",case = False,na = False) & (final_df['Price']<0))

C:\Users\rg345\AppData\Local\Temp\ipykernel_13876\2431323918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['is bad debt'] = (final_df['Description'].str.contains("Adjust bad debt",case = False,na = False) & (final_df['Price']<0))

In [13]:
sales_df = final_df[~final_df['is bad debt']].drop('is bad debt',axis=1)

In [14]:
# Checking the variables
sales_df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,1.033031e+06,1033031,1.033031e+06,797885.000000
mean,1.007692e+01,2011-01-03 14:30:39.631510784,4.767604e+00,15313.062777
min,-8.099500e+04,2009-12-01 07:45:00,0.000000e+00,12346.000000
25%,1.000000e+00,2010-07-05 11:38:00,1.250000e+00,13964.000000
50%,3.000000e+00,2010-12-09 13:34:00,2.100000e+00,15228.000000
75%,1.000000e+01,2011-07-27 13:17:00,4.150000e+00,16788.000000
max,8.099500e+04,2011-12-09 12:50:00,3.897000e+04,18287.000000
std,1.751981e+02,NaN,9.283735e+01,1696.466663

In [15]:
# There are negative quantieis with 0 price, indicating inventory adjusment
sales_df[(sales_df['Quantity']<0) & (sales_df['Price']==0)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.0,NaN,United Kingdom
283,489463,71477,short,-240,2009-12-01 10:52:00,0.0,NaN,United Kingdom
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.0,NaN,United Kingdom
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.0,NaN,United Kingdom
3114,489655,20683,NaN,-44,2009-12-01 17:26:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
1060794,581210,23395,check,-26,2011-12-07 18:36:00,0.0,NaN,United Kingdom
1060796,581212,22578,lost,-1050,2011-12-07 18:38:00,0.0,NaN,United Kingdom
1060797,581213,22576,check,-30,2011-12-07 18:38:00,0.0,NaN,United Kingdom
1062371,581226,23090,missing,-338,2011-12-08 09:56:00,0.0,NaN,United Kingdom
1064386,581422,23169,smashed,-235,2011-12-08 15:24:00,0.0,NaN,United Kingdom

In [16]:
sales_df['is Inventory Adjustment'] = (
    (sales_df['Quantity'] < 0) & (sales_df['Price'] == 0)
)

In [17]:
sales_df['is Return'] = (
    (sales_df['Quantity']<0) & (sales_df['Price'] > 0)
)

In [18]:
sales_df[(sales_df['is Inventory Adjustment']==False) & (sales_df['is Return']==False)].describe()

,Quantity,InvoiceDate,Price,Customer ID
count,1.010535e+06,1010535,1.010535e+06,779495.000000
mean,1.133648e+01,2011-01-04 07:06:30.117532928,4.064050e+00,15320.262918
min,1.000000e+00,2009-12-01 07:45:00,0.000000e+00,12346.000000
25%,1.000000e+00,2010-07-06 09:51:00,1.250000e+00,13971.000000
50%,4.000000e+00,2010-12-09 14:27:00,2.100000e+00,15246.000000
75%,1.200000e+01,2011-07-28 10:33:00,4.130000e+00,16794.000000
max,8.099500e+04,2011-12-09 12:50:00,2.511109e+04,18287.000000
std,1.314654e+02,NaN,5.036675e+01,1695.722988

In [19]:
# Calculating Revenue
sales_df['Revenue'] = sales_df['Quantity'] * sales_df['Price']
sales_df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,is Inventory Adjustment,is Return,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,False,False,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False,False,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False,False,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,False,False,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,False,False,30.0

In [20]:
# Creating Year,weekdays,time,date,month
sales_df['InvoiceYear'] = sales_df['InvoiceDate'].dt.year
sales_df['InvoiceMonth'] = sales_df['InvoiceDate'].dt.month_name()
sales_df['InvoiceDay'] = sales_df['InvoiceDate'].dt.day_name()
sales_df['InvoiceTime'] = sales_df['InvoiceDate'].dt.strftime('%H:%M:%S')
sales_df['InvoiceDate'] = sales_df['InvoiceDate'].dt.strftime('%Y-%m-%d')

In [21]:
# Creating a 'customer status' column for customer identification
conditions = [sales_df['Customer ID'].notna(),(sales_df['Customer ID'].isna())&(~sales_df['is Inventory Adjustment'])]
choices = ['Registered','Not Registered']

sales_df['Customer Status'] = np.select(conditions,choices,default='Unknown')

In [30]:
# Promotional/Free column for items
sales_df['Promotional/Free'] = np.where(
    (sales_df['Quantity']>0) & (sales_df['Price']==0),
    "Promotional",
    "Non-Promotional"
)

In [33]:
sales_df[sales_df['Promotional/Free']=='Promotional']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,is Inventory Adjustment,is Return,Revenue,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceTime,Customer Status,Promotional/Free
3161,489659,21350,NaN,230,2009-12-01,0.0,NaN,United Kingdom,False,False,0.0,2009,December,Tuesday,17:39:00,Not Registered,Promotional
3731,489781,84292,NaN,17,2009-12-02,0.0,NaN,United Kingdom,False,False,0.0,2009,December,Wednesday,11:45:00,Not Registered,Promotional
4674,489825,22076,6 RIBBONS EMPIRE,12,2009-12-02,0.0,16126.0,United Kingdom,False,False,0.0,2009,December,Wednesday,13:34:00,Registered,Promotional
5904,489861,DOT,DOTCOM POSTAGE,1,2009-12-02,0.0,NaN,United Kingdom,False,False,0.0,2009,December,Wednesday,14:50:00,Not Registered,Promotional
6378,489882,35751C,NaN,12,2009-12-02,0.0,NaN,United Kingdom,False,False,0.0,2009,December,Wednesday,16:22:00,Not Registered,Promotional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060795,581211,22142,check,14,2011-12-07,0.0,NaN,United Kingdom,False,False,0.0,2011,December,Wednesday,18:36:00,Not Registered,Promotional
1062442,581234,72817,NaN,27,2011-12-08,0.0,NaN,United Kingdom,False,False,0.0,2011,December,Thursday,10:33:00,Not Registered,Promotional
1063965,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,2011-12-08,0.0,NaN,United Kingdom,False,False,0.0,2011,December,Thursday,13:58:00,Not Registered,Promotional
1063966,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,2011-12-08,0.0,NaN,United Kingdom,False,False,0.0,2011,December,Thursday,13:58:00,Not Registered,Promotional
1064015,581408,85175,NaN,20,2011-12-08,0.0,NaN,United Kingdom,False,False,0.0,2011,December,Thursday,14:06:00,Not Registered,Promotional

In [34]:
# Output File to excel
sales_df.to_excel("Cleaned_data.xlsx",sheet_name="data",index=False)